<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
      throwConfigExceptions="true">
<targets>
    <target name="logfile" 
            xsi:type="File" 
            fileName=".\/logs/${shortdate}_log.txt" 
            layout="${longdate} ${level:uppercase=true} ${message}" />
    <target name="logconsole" xsi:type="Console" />
    <!-- <target xsi:type="File" name="csvFileExample" fileName="./CsvLogExample.csv"> -->
    <!--     <layout xsi:type="CsvLayout" delimiter="Tab" withHeader="false"> -->
    <!--         <column name="time" layout="${longdate}" /> -->
    <!--         <column name="level" layout="${level:upperCase=true}"/> -->
    <!--         <column name="message" layout="${message}" /> -->
    <!--         <column name="callsite" layout="${callsite:includeSourcePath=true}" /> -->
    <!--         <column name="stacktrace" layout="${stacktrace:topFrames=10}" /> -->
    <!--         <column name="exception" layout="${exception:format=ToString}"/> -->
    <!--         <column name="property1" layout="${event-properties:property1}"/> -->
    <!--     </layout> -->
    <!-- </target> -->
</targets>

<rules>
    <logger name="*" minlevel="Info" writeTo="logconsole" />
    <logger name="*" minlevel="Debug" writeTo="logfile" />
</rules>
</nlog>